    /*
    Flaticon icon font: Flaticon
    Creation date: 19/10/2020 13:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-24-hours-support:before { content: "\f100"; }
.flaticon-email:before { content: "\f101"; }
.flaticon-location:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-right-arrow:before { content: "\f104"; }
.flaticon-play-button:before { content: "\f105"; }
.flaticon-user:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-done:before { content: "\f108"; }
.flaticon-tick:before { content: "\f109"; }
.flaticon-play-button-1:before { content: "\f10a"; }
.flaticon-saving:before { content: "\f10b"; }
.flaticon-trustworthy:before { content: "\f10c"; }
.flaticon-right-quote:before { content: "\f10d"; }
.flaticon-car-insurance:before { content: "\f10e"; }
.flaticon-travel-insurance:before { content: "\f10f"; }
.flaticon-property-insurance:before { content: "\f110"; }
.flaticon-insurance:before { content: "\f111"; }
.flaticon-home-insurance:before { content: "\f112"; }
.flaticon-life-insurance-1:before { content: "\f113"; }
.flaticon-cross:before { content: "\f114"; }
.flaticon-language:before { content: "\f115"; }
    
    $font-Flaticon-24-hours-support: "\f100";
    $font-Flaticon-email: "\f101";
    $font-Flaticon-location: "\f102";
    $font-Flaticon-left-arrow: "\f103";
    $font-Flaticon-right-arrow: "\f104";
    $font-Flaticon-play-button: "\f105";
    $font-Flaticon-user: "\f106";
    $font-Flaticon-calendar: "\f107";
    $font-Flaticon-done: "\f108";
    $font-Flaticon-tick: "\f109";
    $font-Flaticon-play-button-1: "\f10a";
    $font-Flaticon-saving: "\f10b";
    $font-Flaticon-trustworthy: "\f10c";
    $font-Flaticon-right-quote: "\f10d";
    $font-Flaticon-car-insurance: "\f10e";
    $font-Flaticon-travel-insurance: "\f10f";
    $font-Flaticon-property-insurance: "\f110";
    $font-Flaticon-insurance: "\f111";
    $font-Flaticon-home-insurance: "\f112";
    $font-Flaticon-life-insurance-1: "\f113";
    $font-Flaticon-cross: "\f114";
    $font-Flaticon-language: "\f115";