body {
    direction: rtl;
    text-align: right;
}
.top-header {
    .header-right-content {
        text-align: left;
        .log-in {
            margin-right: 0;
            padding-right: 0;
            margin-left: 8px;
            padding-left: 8px;
            &::before {
                left: -2px;
                right: unset;
            }
        }
        .language-area {
            margin-right: 0;
            margin-left: 20px;
            .language-item-top .language-item-bottom {
                text-align: right;
                left: -105px;
                right: auto;
                &::before {
                    right: 25px;
                    left: auto;
                }
                .language-item .language-link img {
                    margin-right: 0;
                    margin-left: 8px;
                }
            }
        }
    }
   .header-left-content {
        li {
            margin-right: 0;
            padding-left: 0;
            padding-right: 25px;
            margin-left: 30px;
            i {
                left: unset;
                right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
    }
}
.modal {
    .forgot-login {
        float: left;
    }
    .close {
        right: unset;
        left: 5px;
    }
}
.navbar-area {
    .desktop-nav {
        .navbar {
            .others-option {
                .call-us {
                    margin-top: 0;
                    margin-left: 62px;
                    i {
                        margin-right: 0;
                        margin-left: 5px;
                    }
                }
                .search-box {
                    right: unset;
                    left: 178px;
                    .search-btn {
                        right: unset;
                        left: 0;
                    }
                    .close-btn {
                        right: unset;
                        left: 0;
                    }
                }
                .get-quote {
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
            .navbar-nav {
                .nav-item {
                    a {
                        &::before {
                            right: unset;
                            left: 0;
                        }
                        &:hover {
                            &::before {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                    .dropdown-menu {
                        left: unset;
                        right: 15px;
                        &::before {
                            right: 0 !important;
                            left: unset;
                        }
                        li {
                            a {
                                text-align: right;
                                i {
                                    float: left;
                                }
                            }
                        }
                        &:last-child {
                            .dropdown-menu {
                                left: -100%;
                                right: auto;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu::before {
                            left: auto;
                            right: unset;
                        }
                    }
                }
            }
        }
    }
}
.banner-area {
    &::before {
        right: unset;
        left: 0;
    }
}
.banner-img {
    .banner-shape-1 {
        right: unset;
        left: -50px;
    }
    ul {
        text-align: left;
        margin-right: 0;
        margin-left: 45px;
    }
}
.company-content {
    margin-left: auto;
    margin-right: auto;
}
.company-img .trusted {
    right: unset;
    left: -30px;
}
.choose-us-content {
    margin: auto;
    ul {
        li {
            padding-left: 0;
            padding-right: 30px;
            i {
                left: unset;
                right: 0;
            }
        }
    }
}
.why-choose-slider-content {
    .success {
        left: unset;
        right: -30px;
    }
}
.why-choose-slider-content {
    .owl-theme {
        .owl-nav {
            &.disabled + .owl-dots {
                left: unset;
                right: 40px;
            }
        }
    }
}
.skill-bar .down-arrow {
    right: -67%;
    left: unset;
}
.skill-bar .usd {
    float: left;
}
.faq-content {
    margin: auto;
}
.faq-accordion {
    .accordion {
        padding-right: 0;
        .accordion-title {
            padding-left: 0;
            padding-right: 30px;
            i {
                right: 0;
                left: unset;
            }
        }
    }
}
.faq-img .faq-video {
    right: unset;
    left: -30px;
}
.single-blog-post {
    .blog-content {
        ul {
            li {
                &:first-child {
                    margin-left: 10px;
                    margin-right: 0;
                }
                &:last-child {
                    margin-left: 0;
                    margin-right: 10px;
                }
                i {
                    margin-right: 0;
                    margin-left: 5px;
                }
                &::before {
                    left: unset;
                    right: -13px;
        
                }
            }
        }
    }
}
.footer-area::before {
    left: unset;
    right: 0;
}
.single-footer-widget {
    &.single-bg::before {
        left: unset;
        right: -44px;
    }
    .address {
        li {
            padding-left: 0;
            padding-right: 20px;
            &::before {
                left: unset;
                right: 0;
            }
        }
    }
}
.copy-right-area {
    p {
        margin-right: -250px;
        margin-left: 0;
    }
}
.hero-slider-area {
    .thumbs-wrap {
        right: unset;
        left: 130px;
        .owl-thumbs .owl-thumb-item span::before {
            left: -50px;
            right: auto;
        }
    }
    ul {
        right: -10px;
        left: unset;
        top: 18%;
    }
}
.welcome-content {
    margin-left: 0;
    margin-right: auto;
}
.welcome-bg {
    &::before {
        background-image: linear-gradient(to left, transparent, #f1fbfc);
    }
}
.single-counter {
    .counter-shape {
        left: unset;
        right: 0;
    }
    .target {
        right: -10px;
        left: unset;
    }
}
.featured-services-box {
    .featured-services-title {
        padding-left: 0;
        padding-right: 55px;
        i {
            left: unset;
            right: 15px;
        }
    }
}
.page-title-area {
    .page-title-content {
        ul {
            padding-right: 0;
            li {
                padding-right: 0;
                padding-left: 15px;
                &.active {
                    margin-left: 0;
                    margin-right: 15px;
                    padding-left: 0;
                }  
                &::before {
                    left: -2px;
                    right: unset;
                }      
            }
        }
    }
}
.user-area-style {
    .contact-form-action {
        form {
            .right {
                float: left;
            }
            .login-action .forgot-login {
                float: left;
            }
        }
    }
    &.recover-password-area {
        .now-register {
            float: left;
        }
    }
}
.single-pricing-box {
    ul li i {
        margin-right: 0;
        margin-left: 5px;
    }
}
.claims-content .content.step-5 .contact-us {
    span {
        padding-left: 0;
        padding-right: 20px;
        &::before {
            left: unset;
            right: 0;
        }
    }
    a {
        padding-left: 0;
        padding-right: 20px;
    }
}
.coming-soon-area .coming-soon-content form {
    .form-group {
        .input-newsletter {
            padding-left: 0;
            padding-right: 32px;
        }
        .label-title i {
            left: unset;
            right: 0;
        }
    }
}
.business-insurance-content {
    .content.step-5 ul li {
        padding-left: 0;
        padding-right: 30px;
        i {
            left: unset;
            right: 0;
        }
    }
}
.health-insurance-content {
    .content.step-5 ul li {
        padding-left: 0;
        padding-right: 30px;
        i {
            left: unset;
            right: 0;
        }
    }
}
.life-insurance-content {
    .content.step-5 ul li {
        padding-left: 0;
        padding-right: 30px;
        i {
            left: unset;
            right: 0;
        }
    }
}
.car-insurance-content {
    .content.step-5 ul li {
        padding-left: 0;
        padding-right: 30px;
        i {
            left: unset;
            right: 0;
        }
    }
}
.sidebar-widget {
    ul {
        padding-right: 0;
    }
    h3 {
        &::before {
            left: unset;
            right: 0;
        }
    }
    &.search {
        .search-form {
            .search-button {
                right: unset;
                left: 20px;
            }
        }
    }
    &.categories ul li a span {
        float: left;
    }
    &.recent-post {
        ul {
            li {
                padding-left: 0;
                padding-right: 90px;
                a {
                    img {
                        left: unset;
                        right: 0;
                    }
                }
            }
        }
    }
    &.tags ul li {
        margin-right: 0;
        margin-left: 10px;
    }
}
.blog-details-content {
    .blog-top-content {
        .news-content {
            .admin {
                li {
                    margin-right: 0;
                    margin-left: 30px;
                    &::before {
                        left: unset;
                        right: -16px;
                    }
                }
            }
        }
        blockquote {
            p {
                padding-left: 20px;
                padding-right: 150px;
            }
            i {
                left: unset;
                right: 15px;
                padding-right: 0;
                padding-left: 19px;
                border-right: none;
                border-left: 2px solid #12bec8;
            }
        }
    }
    .tags-social {
        .social {
            float: left;
        }
    }
    .comments ul li {
        padding-left: 0;
        padding-right: 100px;
        img {
            left: unset;
            right: 0;
        }
    }
}
.list-unstyled {
    padding-right: 0;
}
.main-contact-area #msgSubmit {
    text-align: right;
}
.services-details-content .content.step-5 ul li {
    padding-left: 0;
    padding-right: 30px;
    i {
        left: unset;
        right: 0;
    }
}
.nice-select {
    text-align: right !important;
    padding-right: 20px;
    padding-left: 0;
    .option {
        text-align: right;
    }
    &::after {
        left: 12px !important;
        right: auto;
    }
}
.preloader .lds-ripple {
    left: auto;
    right: 50%;
    transform: translate(50%, -50%);
}
.get-quote-form .form-group {
    .nice-select::after {
        left: 23px;
        right: auto;
    }
}
.go-top {
    right: unset;
    left: -10%;
    &.active {
        right: unset;
        left: 3%;
    }
}
.default-btn {
    &::before {
        right: auto;
        left: 0;
    }
    &:hover {
       &::before {
        right: 0;
        left: auto;
       }
    }
}


@media only screen and (max-width: 767px) {

    .copy-right-area p {
        margin-right: 0;
    }
    .faq-img .faq-video {
        left: 0;
    }
    .company-img .trusted {
        left: 0;
    }
    .top-header {
        .header-left-content {
            li {
                margin-left: 0;
            }
        }
        .header-right-content {
            text-align: center;
        }
    }
    .why-choose-slider-content .success {
        left: 0;
        right: 0;
    }
    .modal .forgot-login {
        float: unset;
    }
    .why-chose-us-area.about-page .why-choose-us-img-four {
        height: 300px;
    }
    .user-area-style .contact-form-action form .login-action .forgot-login {
        float: unset;
    }
    .user-area-style .contact-form-action form .right {
        float: right;
    }
    .user-area-style.recover-password-area .now-register {
        float: unset;
    }
    .blog-details-content .comments ul li {
        padding-right: 0;
    }
    .blog-details-content .tags-social .social {
        float: unset;
    }
    .blog-details-content .blog-top-content blockquote {
        p {
            padding-left: 20px;
            padding-right: 20px;
        }
        i {
            border: none;
        }
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {

    .top-header {
        .header-left-content {
            li {
                margin-left: 0;
            }
        }
    }
    .banner-img ul {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
    .offset-md-3 {
        margin-left: 0;
        margin-right: 25%;
    }
    .faq-img .faq-video {
        left: 0;
    }
    .company-img .trusted {
        left: 0;
    }
    .why-choose-slider-content .success {
        left: unset;
        right: 0;
    }
    .copy-right-area p {
        margin-right: 0;
        margin-left: 0;
    }
    .top-header .header-left-content li {
        margin-left: 15px;
    }
    .why-chose-us-area.about-page .why-choose-us-img-four {
        height: 300px;
    }

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .copy-right-area p {
        margin-right: 0;
    }
    .others-option-for-responsive .dot-menu {
        left: 15px;
        right: unset;
    }
    .navbar-area .desktop-nav .navbar ul {
        margin-left: 175px !important;
        margin-right: auto !important;
    }
    .navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu:last-child .dropdown-menu {
        left: -162%;
    }
    .banner-img ul {
        margin-left: 0;
    }
    .banner-area {
        overflow: hidden;
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .company-img .trusted {
        left: 30px;
    }
    .faq-img .faq-video {
        left: 30px;
    }
    .others-option-for-responsive .container .container {
        right: unset;
        left: 0;
    }
    .others-option-for-responsive .others-option .get-quote {
        margin-left: 0;
        margin-right: 60px;
    }
    .others-option-for-responsive .others-option .call-us {
        right: 42px;
    }
    .hero-slider-area .thumbs-wrap {
        right: unset;
        left: 25px;
    }
    .why-chose-us-area.why-chose-us-area-two .choose-us-content {
        padding: 124px 30px;
    }
}

@media only screen and (max-width: 991px) {

    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        right: unset;
        left: 0;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
        float: right;
    }
    .others-option-for-responsive {
        .dot-menu {
            left: 60px;
            right: auto;
            top: -40px;
        }
        .container .container {
            left: 0;
            right: unset;
        }
        .option-inner {
            float: left;
        }
    }
    .others-option-for-responsive .others-option .get-quote {
        margin-left: 0;
        margin-right: 20px;
    }
    .others-option-for-responsive .others-option .search-box {
        right: -45px;
    }
    
}