body {
  direction: rtl;
  text-align: right;
}

.top-header .header-right-content {
  text-align: left;
}

.top-header .header-right-content .log-in {
  margin-right: 0;
  padding-right: 0;
  margin-left: 8px;
  padding-left: 8px;
}

.top-header .header-right-content .log-in::before {
  left: -2px;
  right: unset;
}

.top-header .header-right-content .language-area {
  margin-right: 0;
  margin-left: 20px;
}

.top-header .header-right-content .language-area .language-item-top .language-item-bottom {
  text-align: right;
  left: -105px;
  right: auto;
}

.top-header .header-right-content .language-area .language-item-top .language-item-bottom::before {
  right: 25px;
  left: auto;
}

.top-header .header-right-content .language-area .language-item-top .language-item-bottom .language-item .language-link img {
  margin-right: 0;
  margin-left: 8px;
}

.top-header .header-left-content li {
  margin-right: 0;
  padding-left: 0;
  padding-right: 25px;
  margin-left: 30px;
}

.top-header .header-left-content li i {
  left: unset;
  right: 0;
}

.top-header .header-left-content li:last-child {
  margin-left: 0;
}

.modal .forgot-login {
  float: left;
}

.modal .close {
  right: unset;
  left: 5px;
}

.navbar-area .desktop-nav .navbar .others-option .call-us {
  margin-top: 0;
  margin-left: 62px;
}

.navbar-area .desktop-nav .navbar .others-option .call-us i {
  margin-right: 0;
  margin-left: 5px;
}

.navbar-area .desktop-nav .navbar .others-option .search-box {
  right: unset;
  left: 178px;
}

.navbar-area .desktop-nav .navbar .others-option .search-box .search-btn {
  right: unset;
  left: 0;
}

.navbar-area .desktop-nav .navbar .others-option .search-box .close-btn {
  right: unset;
  left: 0;
}

.navbar-area .desktop-nav .navbar .others-option .get-quote {
  margin-left: 0;
  margin-right: 20px;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item a::before {
  right: unset;
  left: 0;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item a:hover::before {
  left: auto;
  right: 0;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  left: unset;
  right: 15px;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu::before {
  right: 0 !important;
  left: unset;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  text-align: right;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  float: left;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu:last-child .dropdown-menu {
  left: -100%;
  right: auto;
}

.navbar-area .desktop-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu::before {
  left: auto;
  right: unset;
}

.banner-area::before {
  right: unset;
  left: 0;
}

.banner-img .banner-shape-1 {
  right: unset;
  left: -50px;
}

.banner-img ul {
  text-align: left;
  margin-right: 0;
  margin-left: 45px;
}

.company-content {
  margin-left: auto;
  margin-right: auto;
}

.company-img .trusted {
  right: unset;
  left: -30px;
}

.choose-us-content {
  margin: auto;
}

.choose-us-content ul li {
  padding-left: 0;
  padding-right: 30px;
}

.choose-us-content ul li i {
  left: unset;
  right: 0;
}

.why-choose-slider-content .success {
  left: unset;
  right: -30px;
}

.why-choose-slider-content .owl-theme .owl-nav.disabled + .owl-dots {
  left: unset;
  right: 40px;
}

.skill-bar .down-arrow {
  right: -67%;
  left: unset;
}

.skill-bar .usd {
  float: left;
}

.faq-content {
  margin: auto;
}

.faq-accordion .accordion {
  padding-right: 0;
}

.faq-accordion .accordion .accordion-title {
  padding-left: 0;
  padding-right: 30px;
}

.faq-accordion .accordion .accordion-title i {
  right: 0;
  left: unset;
}

.faq-img .faq-video {
  right: unset;
  left: -30px;
}

.single-blog-post .blog-content ul li:first-child {
  margin-left: 10px;
  margin-right: 0;
}

.single-blog-post .blog-content ul li:last-child {
  margin-left: 0;
  margin-right: 10px;
}

.single-blog-post .blog-content ul li i {
  margin-right: 0;
  margin-left: 5px;
}

.single-blog-post .blog-content ul li::before {
  left: unset;
  right: -13px;
}

.footer-area::before {
  left: unset;
  right: 0;
}

.single-footer-widget.single-bg::before {
  left: unset;
  right: -41px;
}

.single-footer-widget .address li {
  padding-left: 0;
  padding-right: 20px;
}

.single-footer-widget .address li::before {
  left: unset;
  right: 0;
}

.copy-right-area p {
  margin-right: -250px;
  margin-left: 0;
}

.hero-slider-area .thumbs-wrap {
  right: unset;
  left: 130px;
}

.hero-slider-area .thumbs-wrap .owl-thumbs .owl-thumb-item span::before {
  left: -50px;
  right: auto;
}

.hero-slider-area ul {
  right: -10px;
  left: unset;
  top: 18%;
}

.welcome-content {
  margin-left: 0;
  margin-right: auto;
}

.welcome-bg::before {
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#f1fbfc));
  background-image: linear-gradient(to left, transparent, #f1fbfc);
}

.single-counter .counter-shape {
  left: unset;
  right: 0;
}

.single-counter .target {
  right: -10px;
  left: unset;
}

.featured-services-box .featured-services-title {
  padding-left: 0;
  padding-right: 55px;
}

.featured-services-box .featured-services-title i {
  left: unset;
  right: 15px;
}

.page-title-area .page-title-content ul {
  padding-right: 0;
}

.page-title-area .page-title-content ul li {
  padding-right: 0;
  padding-left: 15px;
}

.page-title-area .page-title-content ul li.active {
  margin-left: 0;
  margin-right: 15px;
  padding-left: 0;
}

.page-title-area .page-title-content ul li::before {
  left: -2px;
  right: unset;
}

.user-area-style .contact-form-action form .right {
  float: left;
}

.user-area-style .contact-form-action form .login-action .forgot-login {
  float: left;
}

.user-area-style.recover-password-area .now-register {
  float: left;
}

.single-pricing-box ul li i {
  margin-right: 0;
  margin-left: 5px;
}

.claims-content .content.step-5 .contact-us span {
  padding-left: 0;
  padding-right: 20px;
}

.claims-content .content.step-5 .contact-us span::before {
  left: unset;
  right: 0;
}

.claims-content .content.step-5 .contact-us a {
  padding-left: 0;
  padding-right: 20px;
}

.coming-soon-area .coming-soon-content form .form-group .input-newsletter {
  padding-left: 0;
  padding-right: 32px;
}

.coming-soon-area .coming-soon-content form .form-group .label-title i {
  left: unset;
  right: 0;
}

.business-insurance-content .content.step-5 ul li {
  padding-left: 0;
  padding-right: 30px;
}

.business-insurance-content .content.step-5 ul li i {
  left: unset;
  right: 0;
}

.health-insurance-content .content.step-5 ul li {
  padding-left: 0;
  padding-right: 30px;
}

.health-insurance-content .content.step-5 ul li i {
  left: unset;
  right: 0;
}

.life-insurance-content .content.step-5 ul li {
  padding-left: 0;
  padding-right: 30px;
}

.life-insurance-content .content.step-5 ul li i {
  left: unset;
  right: 0;
}

.car-insurance-content .content.step-5 ul li {
  padding-left: 0;
  padding-right: 30px;
}

.car-insurance-content .content.step-5 ul li i {
  left: unset;
  right: 0;
}

.sidebar-widget ul {
  padding-right: 0;
}

.sidebar-widget h3::before {
  left: unset;
  right: 0;
}

.sidebar-widget.search .search-form .search-button {
  right: unset;
  left: 20px;
}

.sidebar-widget.categories ul li a span {
  float: left;
}

.sidebar-widget.recent-post ul li {
  padding-left: 0;
  padding-right: 90px;
}

.sidebar-widget.recent-post ul li a img {
  left: unset;
  right: 0;
}

.sidebar-widget.tags ul li {
  margin-right: 0;
  margin-left: 10px;
}

.blog-details-content .blog-top-content .news-content .admin li {
  margin-right: 0;
  margin-left: 30px;
}

.blog-details-content .blog-top-content .news-content .admin li::before {
  left: unset;
  right: -16px;
}

.blog-details-content .blog-top-content blockquote p {
  padding-left: 20px;
  padding-right: 150px;
}

.blog-details-content .blog-top-content blockquote i {
  left: unset;
  right: 15px;
  padding-right: 0;
  padding-left: 19px;
  border-right: none;
  border-left: 2px solid #12bec8;
}

.blog-details-content .tags-social .social {
  float: left;
}

.blog-details-content .comments ul li {
  padding-left: 0;
  padding-right: 100px;
}

.blog-details-content .comments ul li img {
  left: unset;
  right: 0;
}

.list-unstyled {
  padding-right: 0;
}

.main-contact-area #msgSubmit {
  text-align: right;
}

.services-details-content .content.step-5 ul li {
  padding-left: 0;
  padding-right: 30px;
}

.services-details-content .content.step-5 ul li i {
  left: unset;
  right: 0;
}

.nice-select {
  text-align: right !important;
  padding-right: 20px;
  padding-left: 0;
}

.nice-select .option {
  text-align: right;
}

.nice-select::after {
  left: 12px !important;
  right: auto;
}

.preloader .lds-ripple {
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.get-quote-form .form-group .nice-select::after {
  left: 23px;
  right: auto;
}

.go-top {
  right: unset;
  left: -10%;
}

.go-top.active {
  right: unset;
  left: 3%;
}

.default-btn::before {
  right: auto;
  left: 0;
}

.default-btn:hover::before {
  right: 0;
  left: auto;
}

.company-area.company-area-three .company-content {
  margin-left: 0;
  margin-right: 30px;
}

.coming-soon-area [type=email], .coming-soon-area [type=number], .coming-soon-area [type=tel], .coming-soon-area [type=url] {
  direction: unset;
}

@media only screen and (max-width: 767px) {
  .copy-right-area p {
    margin-right: 0;
  }
  .faq-img .faq-video {
    left: 0;
  }
  .company-img .trusted {
    left: 0;
  }
  .top-header .header-left-content li {
    margin-left: 0;
  }
  .top-header .header-right-content {
    text-align: center;
  }
  .why-choose-slider-content .success {
    left: 0;
    right: 0;
  }
  .modal .forgot-login {
    float: unset;
  }
  .why-chose-us-area.about-page .why-choose-us-img-four {
    height: 300px;
  }
  .user-area-style .contact-form-action form .login-action .forgot-login {
    float: unset;
  }
  .user-area-style .contact-form-action form .right {
    float: right;
  }
  .user-area-style.recover-password-area .now-register {
    float: unset;
  }
  .blog-details-content .comments ul li {
    padding-right: 0;
  }
  .blog-details-content .tags-social .social {
    float: unset;
  }
  .blog-details-content .blog-top-content blockquote p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .blog-details-content .blog-top-content blockquote i {
    border: none;
  }
  .company-area.company-area-three .company-content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .top-header .header-left-content li {
    margin-left: 0;
  }
  .banner-img ul {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  .offset-md-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .faq-img .faq-video {
    left: 0;
  }
  .company-img .trusted {
    left: 0;
  }
  .why-choose-slider-content .success {
    left: unset;
    right: 0;
  }
  .copy-right-area p {
    margin-right: 0;
    margin-left: 0;
  }
  .top-header .header-left-content li {
    margin-left: 15px;
  }
  .why-chose-us-area.about-page .why-choose-us-img-four {
    height: 300px;
  }
  .company-area.company-area-three .company-content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .copy-right-area p {
    margin-right: 0;
  }
  .others-option-for-responsive .dot-menu {
    left: 15px;
    right: unset;
  }
  .navbar-area .desktop-nav .navbar ul {
    margin-left: 175px !important;
    margin-right: auto !important;
  }
  .navbar-area .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu:last-child .dropdown-menu {
    left: -162%;
  }
  .banner-img ul {
    margin-left: 0;
  }
  .banner-area {
    overflow: hidden;
  }
  .banner-area .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .company-img .trusted {
    left: 30px;
  }
  .faq-img .faq-video {
    left: 30px;
  }
  .others-option-for-responsive .container .container {
    right: unset;
    left: 0;
  }
  .others-option-for-responsive .others-option .get-quote {
    margin-left: 0;
    margin-right: 60px;
  }
  .others-option-for-responsive .others-option .call-us {
    right: 42px;
  }
  .hero-slider-area .thumbs-wrap {
    right: unset;
    left: 25px;
  }
  .why-chose-us-area.why-chose-us-area-two .choose-us-content {
    padding: 124px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    right: unset;
    left: 0;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
    float: right;
  }
  .others-option-for-responsive .dot-menu {
    left: 60px;
    right: auto;
    top: -40px;
  }
  .others-option-for-responsive .container .container {
    left: 0;
    right: unset;
  }
  .others-option-for-responsive .option-inner {
    float: left;
  }
  .others-option-for-responsive .others-option .get-quote {
    margin-left: 0;
    margin-right: 20px;
  }
  .others-option-for-responsive .others-option .search-box {
    right: -45px;
  }
}
/*# sourceMappingURL=rtl.css.map */